body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h1{
    transform: translate(0,200px);
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
}

p{
    transform: translate(0,250px);
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    max-width: 950px;
}

#score {
    font-size: 24px;
    margin-bottom: 10px;
}

#drawCard {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

#container {
    transform: translate(0,400px);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#containerGraphic{
    flex: 1;
}

#probabilityChart{
    width: 300px;
    height: 200px;
}

#ExperimentoContainer {
    flex: 1;
}

#Experimento {
    text-align: center;
}

#otherContent {
    flex: 1;
}

#resultados {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Cambiado de flex-start a space-between */
    margin: 0;
    margin-top: 10px; /* Agregado margen superior para separación */
}

#resultados li {
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    min-width: 35%; /* Cambiado de 100px a 30% para tener tres columnas */
    text-align: center;
}

/* Estilos para el contenedor de la lista de resultados */
#resultadosContainer {
    max-width: 400px; /* Ancho máximo para limitar el espacio */
}

